<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>{% block title %}To Do List{% endblock %}</title>
</head>

<body>
    {% block content %}
    {% endblock %}

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div id="message-duration"
        class="bg-green-500 py-2 px-4 rounded-md text-white text-center fixed bottom-4 right-4 flex gap-4">
        {{ message }}
    </div>
    {% elif category == 'error' %}
    <div id="message-duration"
        class="bg-red-500 py-2 px-4 rounded-md text-white text-center fixed bottom-4 right-4 flex gap-4">
        {{ message }}
    </div>
    <div class="bg-yellow-500 hidden"></div>
    {% endif %}
    {% endfor %}
    {% endwith %}
    <!-- End of flash messages -->
    <script src="../static/js/basic_scripts.js"></script>
</body>

</html>
